
body {
  background-color: #252525;
}
.normal-text{
  color: #ffffff;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px; 
  line-height: 1.5;
  margin: 20px;
}
#ist-clock {
  color: #ffffff;
  display: inline-block;
  font-family: '', monospace;
  font-size: 14px;
  line-height: 1.5;
}
#hero{
  margin: 20px;
}

.icons {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  filter: invert(100%) sepia(0%) saturate(7465%) hue-rotate(132deg) brightness(97%) contrast(107%);
}
.box {
  border: 1px solid #ffffff7e;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;

}
.terminal-container {
    border: 1px solid #ffffff7e; 
    padding: 20px;
    border-radius: 6px;
    font-family: 'JetBrains Mono', monospace; 
    color: #ffffff;
    max-width: 500px;
    margin: 20px auto;
}

.terminal-header {
    margin-bottom: 15px;
}

.status-ok {
    color: #00ff00; 
    text-shadow: 0 0 5px #00ff00; 
}

.terminal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.line {
    white-space: pre; 
}